services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app_container
    depends_on:
      - db
    ports:
        - "8000:8000"
    env_file:
      - .env
    networks:
      - app-network

  db:
    container_name: db_postgres_sdo
    image: postgres:15
    environment:
      POSTGRES_USER: ${SDO_DATABASE__USER:-root}
      POSTGRES_PASSWORD: ${SDO_DATABASE__PASSWORD:-root}
      POSTGRES_DB: ${SDO_DATABASE__NAME:-postgres}
    ports:
      - "5050:5432"
    volumes:
      - ./app/init-scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=http://localhost:8000
    container_name: frontend_container
    depends_on:
      - app
    ports:
      - "8081:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
